{% extends "_layout" %}
{% block content %}
	{% set featureImage = {
		mode: 'crop',
		width: 1440,
		height: 800,
		quality: 100
	} %}
	{% set heroImageCrop = {
		mode: 'fit',
		width: 767,
		height: 446,
		quality: 100
	} %}
	<section class="hero-home">
		<div class="hero--home__content">
			<div class="container">
				<div class="row">
					<div class="col">
						<h1 class="hero-home__title">
							<span class="hero-home__date">{{ entry.date }}</span>
							<span>{{ entry.titre }}</span>
							{{ entry.sousTitre }}
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="video-wrapper">
			<video class="video" id="video" muted autoplay loop playsinline>
				<source src="/assets/video/cover.mp4" type="video/mp4">
			</video>
		</div>
	</section>
	<div class="content">
		{% include '_includes/matrix.twig' %}
		{% set relatedEntries = entry.lienVersPage.all() %}
		{% if relatedEntries|length %}
		<section class="listpage" data-aos="fade-up">
			<div class="container-fluid">
				<h1 class="l-title">{{ "Durbuy experience"|t }}</h1>
					<div class="row d-flex align-items-stretch">
						{% for rel in relatedEntries %}
							<div class="col-sm-12 col-md-6 col-lg">
								<div class="card">
									<a href="{{ rel.url }}">
										{% if rel.imageDeLaPage|length %}
											{% for image in rel.imageDeLaPage.all() %}
												<img src="{{ image.getUrl('col3') }}" alt="{{ image.title }}"
														 width="{{ image.getWidth('col3') }}"
														 height="{{ image.getHeight('col3') }}">
											{% endfor %}
										{% endif %}
										<div class="listpage__content">
											<h2>{{ rel.title }}</h2>
											<div class="text">
												{{ rel.introductionDeLaPage }}
											</div>
										</div>
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
			</div>
		</section>
		{% endif %}
		{% set posts = craft.entries()
			.section('department')
			.level('2')
			.all() %}
		<section class="destinations" data-aos="fade-up">
			<div class="container-fluid">
				<h1 class="l-title">{{ 'Departments'|t }}</h1>
				<div class="row">
					{% for post in posts %}
						<div class="col-sm-12 col-md-6 col-lg-4">
							<a href="{{ post.url }}">
								{% if post.imageDeLaPage|length %}
									{% set image = post.imageDeLaPage.one() %}
									<div>
										<img src="{{ image.getUrl('col6') }}" alt="{{ image.title }}"/>
									</div>
								{% endif %}
								<h2><span>{{ post.title }}</span></h2>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</div>
{% endblock %}



