{% extends "_layout" %}

{% block content %}
	<div class="hero" {% if entry.imageDeLaPage | length %}
		style="background-image:url(
		{% for image in entry.imageDeLaPage.all() %}
			{{ image.getUrl('col12') }}
		{% endfor %}
				)"
			{% endif %}>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					{% if entry.logo|length %}
						{% for image in entry.logo.all() %}
							<div class="logo-wrapper">
								<img src="{{ image.getUrl('logoCrop') }}" alt="{{ image.title }}"
										 width="{{ image.getWidth('logoCrop') }}"
										 height="{{ image.getHeight('logoCrop') }}"
										 class="logo">
							</div>
						{% endfor %}
					{% endif %}
					<h1>{{ entry.title }}</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="page content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8">
					<main role="main" class="page__section content__main main" data-aos="fade-up">
						{% if entry.texteNews|length %}
							{{ entry.texteNews }}
						{% endif %}
						{% if entry.tickets %}
							<section class="tickets">
								<h2 class="tickets__title">{{ 'Tickets'|t }}</h2>
								<ul class="tickets__list list">
									{% for ticket in entry.tickets  %}
										<li class="list__item">
											<section class="ticket">
												<div class="col-8">
													{% if ticket.ticketTitle|length %}
														<h3 class="ticket__title">{{ ticket.ticketTitle }}</h3>
													{% endif %}
													{% if ticket.description|length %}
														<div class="ticket__content">
															{{ ticket.description }}
														</div>
													{% endif %}
												</div>
												{% if ticket.price|length %}
													<div class="col-4">
														<div class="ticket__price">
															{{ ticket.price }}
														</div>
													</div>
												{% endif %}
											</section>
										</li>
									{% endfor %}
								</ul>
							</section>
						{% endif %}
						{#{% if entry.gallery|length %}
							{{ entry.gallery }}
						{% endif %}#}
					</main>
				</div>
				<div class="col-lg-4">
					<aside class="page__section content__sidebar sidebar" data-aos="fade-up" data-delay="200">
						<div class="sidebar__header">
							{% if entry.imageNews|length %}
								{% for image in entry.imageNews.all() %}
									<img src="{{ image.url('col4') }}" alt="{{ image.title }}"
											 width="{{ image.getWidth('col4') }}"
											 height="{{ image.getHeight('col4') }}"
											 class="img-fluid">
								{% endfor %}
							{% endif %}
						</div>
						<div class="sidebar__content">
							{% if entry.texte|length %}
								{{ entry.texte }}
							{% endif %}
							{% if entry.bouton|length %}
								<a href="{{ entry.bouton.url }}"
									 target="{{ entry.bouton.target }}"
									 class="btn btn-primary">
									{{ entry.bouton.text }}
								</a>
							{% endif %}
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
{% endblock %}