<header class="site-header header">
    <div class="container-fluid">
        <div class="header__content">
            <a href="{{ siteUrl }}" title='back to homepage'>

                <svg width="178px" height="47px" viewBox="0 0 178 47" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <polygon id="path-1"
                                 points="0.0521857143 0.131225806 12.9219794 0.131225806 12.9219794 23.9002645 0.0521857143 23.9002645"></polygon>
                        <polygon id="path-3"
                                 points="0.051031746 0.142480263 24.8502381 0.142480263 24.8502381 45 0.051031746 45"></polygon>
                        <polygon id="path-5" points="0 47 178 47 178 0 0 0"></polygon>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="HEADER" transform="translate(-59.000000, -64.000000)">
                            <g id="Group-38-Copy" transform="translate(59.000000, 64.000000)">
                                <path d="M8.17121607,39.6535226 C10.5127881,41.9235146 13.1672443,43.7050197 16,45 L11.5483822,24.8661076 L0,21 C0.124060816,27.7648545 2.84651775,34.492631 8.17121607,39.6535226"
                                      id="Fill-1" fill="#4A0B5B"></path>
                                <g id="Group-5" transform="translate(40.000000, 0.000000)">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-4"></g>
                                    <path d="M7.60188413,0.761748387 C5.12301111,0.416845161 2.6043127,0.202393548 0.0521857143,0.131167742 L0.0521857143,23.9002645 L12.9219794,8.15549032 C11.6376619,5.49478065 9.86636032,2.98968387 7.60188413,0.761748387"
                                          id="Fill-3" fill="#4A0B5B" mask="url(#mask-2)"></path>
                                </g>
                                <path d="M10,20 L7.56869422,8 C5.16243933,9.45285311 2.84366682,11.0828985 0.630382026,12.8648815 C0.350908095,14.0138592 0.140715516,15.1786466 0,16.3504149 L10,20 Z"
                                      id="Fill-6" fill="#4A0B5B"></path>
                                <path d="M36,0 C32.9780561,0.105333699 29.9304316,0.399555271 27,0.916917969 L36,13 L36,0 Z"
                                      id="Fill-8" fill="#4A0B5B"></path>
                                <g id="Group-12" transform="translate(11.000000, 2.000000)">
                                    <mask id="mask-4" fill="white">
                                        <use xlink:href="#path-3"></use>
                                    </mask>
                                    <g id="Clip-11"></g>
                                    <path d="M24.8502381,43.5629408 L24.8502381,40.9560987 L11.2169048,27.6430066 L13.8159127,24.9653092 L24.8502381,35.6962303 L24.8502381,17.7345197 L12.0875397,0.142480263 C7.86214286,1.177875 3.8659127,2.64530921 0.051031746,4.50570395 L8.56373016,43.9645855 C13.8925,45.4683355 19.5871429,45.3339276 24.8502381,43.5629408"
                                          id="Fill-10" fill="#4A0B5B" mask="url(#mask-4)"></path>
                                </g>
                                <path d="M45.8791179,39.0969468 C53.136143,32.0259847 55.5296225,22.0115459 53.0585514,13 L39,30.9124643 L39,44 C41.4760965,42.7519643 43.8010301,41.1189839 45.8791179,39.0969468"
                                      id="Fill-13" fill="#4A0B5B"></path>
                                <polygon id="Fill-15" fill="#4A0B5B"
                                         points="62 1 65.1422497 1 65.1422497 9.32865398 72 9.32865398 72 12 62 12"></polygon>
                                <path d="M81.6260611,7.42721032 L79.4440617,2.39853642 L77.2783353,7.42721032 L81.6260611,7.42721032 Z M82.6852269,9.87858424 L76.2037102,9.87858424 L75.2891704,12 L72,12 L76.9260259,1 L82.0595319,1 L87,12 L83.5991565,12 L82.6852269,9.87858424 Z"
                                      id="Fill-17" fill="#4A0B5B"></path>
                                <path d="M70.7834384,21.708642 C70.7834384,21.0013042 70.2114964,20.671346 69.3456423,20.671346 L65.2167576,20.671346 L65.2167576,22.7457388 L69.3456423,22.7457388 C70.2114964,22.7457388 70.7834384,22.4157806 70.7834384,21.708642 M74,21.708642 C74,24.3483073 72.020849,25.2598765 69.4997549,25.2598765 L65.2167576,25.2598765 L65.2167576,29 L62,29 L62,18 L65.2167576,18 L69.4997549,18 C71.8969315,18 74,19.0685783 74,21.708642"
                                      id="Fill-19" fill="#4A0B5B"></path>
                                <polygon id="Fill-21" fill="#4A0B5B"
                                         points="76 18 87.6882091 18 87.6882091 20.54542 79.4099531 20.54542 79.4099531 22.2111508 85.8685975 22.2111508 85.8685975 24.6001594 79.4099531 24.6001594 79.4099531 26.45458 88 26.45458 88 29 76 29"></polygon>
                                <polygon id="Fill-23" fill="#4A0B5B"
                                         points="88 18 100 18 100 20.671346 95.5638744 20.671346 95.5638744 29 92.4363163 29 92.4363163 20.671346 88 20.671346"></polygon>
                                <mask id="mask-6" fill="white">
                                    <use xlink:href="#path-5"></use>
                                </mask>
                                <g id="Clip-26"></g>
                                <polygon id="Fill-25" fill="#4A0B5B" mask="url(#mask-6)"
                                         points="102 29 105 29 105 18 102 18"></polygon>
                                <polygon id="Fill-27" fill="#4A0B5B" mask="url(#mask-6)"
                                         points="107 18 119 18 119 20.671346 114.564015 20.671346 114.564015 29 111.436557 29 111.436557 20.671346 107 20.671346"></polygon>
                                <polygon id="Fill-28" fill="#4A0B5B" mask="url(#mask-6)"
                                         points="121 18 132.688833 18 132.688833 20.54542 124.409537 20.54542 124.409537 22.2111508 130.869013 22.2111508 130.869013 24.6001594 124.409537 24.6001594 124.409537 26.45458 133 26.45458 133 29 121 29"></polygon>
                                <polygon id="Fill-29" fill="#4A0B5B" mask="url(#mask-6)"
                                         points="78 35 77.9857211 46 75.0748601 46 75.0748601 36.7755176 72.0477278 46 67.9379933 46 64.9103047 36.7755176 64.9103047 46 62 46 62 35 67.323814 35 70.0290215 44.0828156 72.676186 35"></polygon>
                                <polygon id="Fill-30" fill="#4A0B5B" mask="url(#mask-6)"
                                         points="81 35 92.688417 35 92.688417 37.54542 84.4097452 37.54542 84.4097452 39.2111508 90.8688053 39.2111508 90.8688053 41.6001594 84.4097452 41.6001594 84.4097452 43.45458 93 43.45458 93 46 81 46"></polygon>
                                <path d="M98.2575466,39.6516927 L102.64311,39.6516927 C103.520104,39.6516927 104.099801,39.3217346 104.099801,38.6612205 C104.099801,38.0013042 103.520104,37.608383 102.64311,37.608383 L98.2575466,37.608383 L98.2575466,39.6516927 Z M100.293538,42.1030666 L98.2575466,42.1030666 L98.2575466,46 L95,46 L95,35 L98.2575466,35 L102.800199,35 C105.227223,35 107.357348,36.0687775 107.357348,38.6612205 C107.357348,40.830257 105.948121,41.7884507 103.990177,42.0401036 L108,46 L103.880553,46 L100.293538,42.1030666 Z"
                                      id="Fill-31" fill="#4A0B5B" mask="url(#mask-6)"></path>
                                <polygon id="Fill-32" fill="#4A0B5B" mask="url(#mask-6)"
                                         points="121 35 116.417031 46 111.520889 46 107 35 110.410203 35 114.007834 44.4125745 117.683809 35"></polygon>
                                <polygon id="Fill-33" fill="#4A0B5B" mask="url(#mask-6)"
                                         points="123 35 134.688209 35 134.688209 37.54542 126.409537 37.54542 126.409537 39.2111508 132.868597 39.2111508 132.868597 41.6001594 126.409537 41.6001594 126.409537 43.45458 135 43.45458 135 46 123 46"></polygon>
                                <polygon id="Fill-34" fill="#4A0B5B" mask="url(#mask-6)"
                                         points="137 46 140 46 140 35 137 35"></polygon>
                                <polygon id="Fill-35" fill="#4A0B5B" mask="url(#mask-6)"
                                         points="143 35 146.141795 35 146.141795 43.328654 153 43.328654 153 46 143 46"></polygon>
                                <polygon id="Fill-36" fill="#4A0B5B" mask="url(#mask-6)"
                                         points="155 35 158.141795 35 158.141795 43.328654 165 43.328654 165 46 155 46"></polygon>
                                <polygon id="Fill-37" fill="#4A0B5B" mask="url(#mask-6)"
                                         points="166 35 177.688209 35 177.688209 37.54542 169.409537 37.54542 169.409537 39.2111508 175.868597 39.2111508 175.868597 41.6001594 169.409537 41.6001594 169.409537 43.45458 178 43.45458 178 46 166 46"></polygon>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
            <nav class="site-navigation nav-wrapper">
                {% set entries = craft.navigation.nodes('mainNavigation').all() %}
                {% set slugs = craft.app.request.segments %}

                <ul class="nav">
                    {% nav entry in entries %}
                        <li class="nav__item{% if entry.classes | length %} {{ entry.classes }}{% endif %}{% if entry.slug in slugs %} is-active{% endif %}">
                            <a {% if entry.url %}href="{{ entry.url }}"{% endif %}
                               class="nav__link{% if entry.active %} is-active{% endif %}"{% if entry.newWindow %}
                               target="_blank"
                               rel="noopener"{% endif %} {% for attribute in entry.customAttributes %}{{ attribute.attribute }}="{{ attribute.value }}"{% endfor %}>

                                {{- entry.title -}}
                            </a>

                            {% ifchildren %}
                                <ul class="nav">
                                    {% children %}
                                </ul>
                            {% endifchildren %}
                        </li>
                    {% endnav %}
                </ul>
            </nav>
					{% if craft.app.language == 'fr' %}
						<a href="https://booking.lapetitemerveille.be/#!/language/fr" target="_blank" class="booking-btn d-lg-none d-xl-none">{{ 'Tickets'|t }}</a>
					{% elseif craft.app.language == 'nl' %}
						<a href="https://booking.lapetitemerveille.be/#!/language/nl" target="_blank" class="booking-btn d-lg-none d-xl-none">{{ 'Tickets'|t }}</a>
					{% endif %}
        </div>
    </div>
</header>



