{% for block in entry.blocs.all() %}
	{# Bloc du texte centré #}
	{% if block.type == 'texteCentre' %}
		<div class="part" data-aos="fade-up">
			<div class="container-fluid">
				<div class="textecentre">
					<h2>{{ block.titreTexteCentre }}</h2>
					<div class="text">
						{{ block.texteTexteCentre }}
					</div>
					{% if block.lienDuBouton|length %}
					<span class="btn">
								<a href="{{ block.lienDuBouton }}">{{ block.texteDuBoutonTexteCentre }}</a>
							</span>
					{% endif %}
				</div>
			</div>
		</div>
		{# Bloc Texte + Image #}
	{% elseif block.type == 'texteImage' %}
		<div class="part textimage" data-aos="fade-up">
			<div class="container-fluid">
				<div class="row d-flex align-items-stretch">
					<div class="col-md-6 order-2 order-md-1">
						<div class="textimage__content">
							<h2>{{ block.titreTexteImage }}</h2>
							<div class="text">
								{{ block.texteTexteImage }}
							</div>
							<span class="btn">
									{{ block.boutontexteImage|raw }}
									</span>
						</div>
					</div>
					<div class="col-md-6 order-1 order-md-2">
						{% for image in block.imagetexteImage.all() %}
							<img src="{{ image.url('col6') }}" alt="{{ image.title }}"
									 width="{{ image.getWidth('col6') }}" height="{{ image.getHeight('col6') }}"/>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		{# Bloc Image + Texte #}
	{% elseif block.type == 'imageTexte' %}
		<div class="part textimage" data-aos="fade-up">
			<div class="container-fluid">
				<div class="row d-flex align-items-stretch">
					<div class="col-md-6">
						{% for image in block.imageImageTexte.all() %}
							<img src="{{ image.url('col6') }}" alt="{{ image.title }}"
									 width="{{ image.getWidth('col6') }}" height="{{ image.getHeight('col6') }}"/>
						{% endfor %}
					</div>
					<div class="col-md-6">
						<div class="textimage__content">
							<h2>{{ block.titreImageTexte }}</h2>
							<div class="text">
								{{ block.texteImageTexte }}
							</div>
							<span class="btn">
									{{ block.bouton|raw }}
									</span>
						</div>
					</div>

				</div>
			</div>
		</div>

	{% elseif block.type == 'video' %}

		{% set embed = craft.videoEmbedder.getEmbedUrl(block.videoVideo) %}

		{% if embed | length %}
			<div class="part" data-aos="fade-up">
				<div class="container-fluid">
					<div class="videocontainer">
						<iframe src="{{ embed }}"></iframe>
					</div>
				</div>
			</div>

		{% endif %}

	{% elseif block.type == 'grandeImage' %}
		<div class="part" data-aos="fade-up">
			<div class="container-fluid">
				{% for image in block.grandeimage.all() %}
					<img src="{{ image.url('col12') }}" alt="{{ image.title }}"
							 width="{{ image.getWidth('col12') }}" height="{{ image.getHeight('col12') }}">
				{% endfor %}
			</div>
		</div>

	{% elseif block.type == 'colonnesTable' %}
		<div class="part listpage" data-aos="fade-up">
			<div class="container-fluid">
				<h1 class="l-title">{{ block.titreSection }}</h1>
				<div class="row d-flex align-items-stretch">
					{% for row in block.colonne %}
						<div class="col-sm-12 col-md-6 col-lg">
							<div class="card">
								{% if row.boutonColonne|length %}
								<a href="{{ row.boutonColonne.url }}" target="{{ row.boutonColonne.target }}">
									{% endif %}
									{% for image in row.imageColonne.all() %}
										<img src="{{ image.url('col4') }}" alt="{{ image.title }}"
												 width="{{ image.getWidth('col4') }}"
												 height="{{ image.getHeight('col4') }}">
									{% endfor %}
									<div class="listpage__content">
										<h2>{{ row.titreColonne }}</h2>
										<div class="text">
											{{ row.texteColonne }}
										</div>
									</div>
									{% if row.boutonColonne|length %}
								</a>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

	{% elseif block.type == 'steps' %}
		<section class="part steps" data-aos="fade-up">
			<div class="container-fluid">
				{% if block.sectionTitle|length %}
					<div class="row">
						<div class="col">
							<h1 class="steps__title l-title">{{ block.sectionTitle }}</h1>
						</div>
					</div>
				{% endif %}
				<div class="row d-flex align-items-stretch">
					{% for key, step in block.step %}
						{% set key = key + 1 %}
						<div class="col-sm-12 col-md">
							<section class="steps__item step step--{{ key }}" data-aos="fade-up" data-aos-delay="{{ 200 + key * 100 }}">
								<div class="card__header">
									<span class="step__number">
										{{ key }}
									</span>
									{% if step.stepTitle|length %}
										<h2 class="step__title">
											{{ step.stepTitle }}
										</h2>
									{% endif %}
								</div>
								{% if step.steptext|length %}
									<div class="step__content">
										{{ step.steptext|raw }}
									</div>
								{% endif %}
								{% if step.stepButton|length %}
									<div class="step__footer">
										{{ step.stepButton|raw }}
									</div>
								{% endif %}
							</section>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>

	{% elseif block.type == 'faqs' %}
		<div class="part faqs" data-aos="fade-up">
			<div class="container-fluid">
				<div class="row d-flex align-items-stretch">
					{% for key, faq in block.faq %}
						{% set key = key + 1 %}
						<div class="col-sm-12 col-md-8 offset-md-2">
							<div class="faqs__item faq faq--{{ key }}" data-aos="fade-up" data-aos-delay="{{ 200 + key * 100 }}">
								<div class="card__header">
									{% if faq.faqTitle|length %}
										<h2 class="faq__title">
											{{ faq.faqTitle }}
										</h2>
									{% endif %}
								</div>
								{% if faq.faqText|length %}
									<div class="faq__content">
										{{ faq.faqText|raw }}
									</div>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

	{% endif %}
{% endfor %}