{% extends "_layout" %}

{% block content %}
	<div class="hero" {% if entry.imageDeLaPage | length %}
		style="background-image:url(
		{% for image in entry.imageDeLaPage.all() %}
			{{ image.getUrl('col12') }}
		{% endfor %}
				)"
			{% endif %}>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<h1>{{ entry.title }}</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="page content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8">
					<main role="main" class="page__section content__main main" data-aos="fade-up">
						{% if entry.texte|length %}
							{{ entry.texte }}
						{% endif %}
						{% if entry.gallery.all()|length %}
							<div class="swiper-container">
								<!-- Additional required wrapper -->
								<div class="swiper-wrapper">
									<!-- Slides -->
									{% for image in entry.gallery.all() %}
										<div class="swiper-slide">
											<img data-src="{{ image.url('sliderSmall') }}" alt="{{ image.title }}"
													 width="{{ image.getWidth('sliderSmall') }}"
													 height="{{ image.getHeight('sliderSmall') }}"
													 class="img-fluid swiper-lazy">
											<div class="swiper-lazy-preloader"></div>
										</div>
									{% endfor %}
								</div>
								<!-- If we need pagination -->
								<div class="swiper-pagination"></div>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						{% endif %}
					</main>
				</div>
				<div class="col-lg-4">
					<aside class="page__section content__sidebar sidebar" data-aos="fade-up" data-delay="200">
						<div class="sidebar__content">
							<h3>{{ 'Make an appointment'|t }}</h3>
							<p>
								{{ 'Our sales representatives will be happy to visit you within your company for a first exchange and the development of a customized program. Then, everything is organized in every detail on the spot with the team "Event".'|t }}
							</p>
						</div>
						<div class="sidebar__footer">
							<div class="col">
								{% if craft.app.language == "fr" %}
								<img src="/assets/img/luigi-lpm.jpg" alt="LUIGI CODUTI">
								{% else %}
								<img src="/assets/img/an-lpm.jpg" alt="An">
								{% endif %}
							</div>
							<div class="col">
								{% if craft.app.language == "fr" %}
									<strong>Luigi Coduti</strong>
									<a href="mailto:luigi@lpm.be" class="mail">
										luigi@lpm.be
									</a>
									<a href="tel:+32471784342" class="phone">
										+32 (0) 471 / 78 43 42
									</a>
								{% else %}
									<strong>An Maerten</strong>
									<a href="mailto:an@lpm.be" class="mail">
										an@lpm.be
									</a>
									<a href="tel:+32460954643" class="phone">
										+32 (0) 460 / 95 46 43
									</a>
								{% endif %}
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
{% endblock %}