{% extends "_layout" %}

{% block content %}
	<div class="hero" {% if entry.imageDeLaPage | length %}
		style="background-image:url(
		{% for image in entry.imageDeLaPage.all() %}
			{{ image.getUrl('col12') }}
		{% endfor %}
				)"
			{% endif %}>
		<div class="container-fluid">
			{% if entry.logo|length %}
				{% for image in entry.logo.all() %}
					<div class="logo-wrapper">
						<img src="{{ image.getUrl('logoCrop') }}" alt="{{ image.title }}"
								 width="{{ image.getWidth('logoCrop') }}"
								 height="{{ image.getHeight('logoCrop') }}"
								 class="logo">
					</div>
				{% endfor %}
			{% endif %}
			<h1>{{ entry.title }}</h1>
		</div>
	</div>
	<div class="content">
		{% if entry.pageParent %}
			<div class="destinations" data-aos="fade-up">
				<div class="part">
					{% set entries = craft.entries.section('monde').level(2).descendantOf(entry.id) %}
					<div class="container-fluid">
						<div class="row">
							{% for entry in entries.all() %}
								<div class="col-md-4">
									<a href="{{ entry.url }}">
										{% if entry.imageDeLaPage|length %}
											{% for image in entry.imageDeLaPage .all() %}
												<img src="{{- image.getUrl('col4') -}}" alt="{{ image.title }}"
														 width="{{ image.getWidth('col6') }}"
														 height="{{ image.getHeight('col6') }}">

											{% endfor %}
										{% endif %}
										<h2><span>{{ entry.title }}</span></h2>
									</a>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		{% else %}
		{% if entry.date|length or entry.transport|length or entry.capacity|length %}
			<div class="top-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<ul class="top-content__infos list">
								{% if entry.date|length %}
									<li class="list__item">
										<svg class="icon icon--calenar">
											<use xlink:href="/assets/img/svg-sprite.svg#calendar"></use>
										</svg>
										<span class="infos__text">{{ entry.date }}</span>
									</li>
								{% endif %}
								{% if entry.transport|length %}
									<li class="list__item">
										<svg class="icon icon--train">
											<use xlink:href="/assets/img/svg-sprite.svg#train"></use>
										</svg>
										<span class="infos__text">{{ entry.transport }}</span>
									</li>
								{% endif %}
								{% if entry.capacity|length %}
									<li class="list__item">
										<svg class="icon icon--users">
											<use xlink:href="/assets/img/svg-sprite.svg#users"></use>
										</svg>
										<span class="infos__text">{{ entry.capacity }}</span>
									</li>
								{% endif %}
								{% if globalInfos.bookinglink|length %}
									<li class="list__item item--button">
										<a href="{{ globalInfos.bookinglink.url }}" target="{{ globalInfos.bookinglink.target }}" class="btn btn-primary">{{ globalInfos.bookinglink.text }}</a>
									</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			{% endif %}

			{% include '_includes/matrix.twig' %}

			{% set areas = craft.entries.section('monde').level(3).descendantOf(entry.id) %}
			{% if areas|length %}
			<section class="destinations" data-aos="fade-up">
				<div class="container-fluid">
					<h1 class="l-title">{{ 'Accommodations'|t }}</h1>
					<div class="row">
						{% for area in areas.all() %}
							<div class="col-sm-12 col-md-6 col-lg-4">
								<a href="{{ area.url }}">
									{% if area.imageDeLaPage|length %}
										{% set image = area.imageDeLaPage.one() %}
										<div>
											<img src="{{ image.getUrl('col6') }}" alt="{{ image.title }}"/>
										</div>
									{% endif %}
									<h2><span>{{ area.title }}</span></h2>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</section>
			{% endif %}

		{% set packs = entry.pack.all() %}
		{% if packs|length %}
			<div class="part listpage" id="packs" data-aos="fade-up">
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<h1 class="l-title">{{ 'Packs'|t }}</h1>
						</div>
					</div>
					<div class="row d-flex align-items-stretch">
						{% for pack in packs %}
							<div class="col-sm-12 col-md-6 col-lg-4">
								<div class="card">
									<a href="{{ pack.url }}">
										{% for image in pack.imageDeLaPage.all() %}
											<img src="{{ image.url('col4') }}" alt="{{ image.title }}"
													 width="{{ image.getWidth('col4') }}"
													 height="{{ image.getHeight('col4') }}">
										{% endfor %}
										<div class="listpage__content">
											<h2>{{ pack.title }}</h2>
											<div class="text">
												{{ pack.introductionDeLaPage }}
											</div>
										</div>
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}

			{% if entry.activityCategory|length %}
				<section class="site-section section-activity section">
					<div class="container-fluid">
						<div class="row">
							<div class="col">
								<h2 class="section__title l-title text-left">{{ 'Activities'|t }}</h2>
							</div>
						</div>
						<div class="row">
							<div class="col">
								{# Display the categories #}
								<ul class="activity-list category-list list row d-flex align-items-stretch">
									{% for category in entry.activityCategory.all() %}
										<li class="list__item col-6 col-sm-6 col-md-3 col-lg-2">
											<section class="activity">
												<div class="image-wrapper">
													{% if category.imageDeLaPage|length %}
														{% for image in category.imageDeLaPage.all() %}
															<img src="{{- image.getUrl('col6') -}}" alt="{{ image.title }}"
																	 width="{{ image.getWidth('col6') }}"
																	 height="{{ image.getHeight('col6') }}"
																	 class="activity__image image img-fluid">
														{% endfor %}
													{% endif %}
												</div>
												<h3 class="activity__title title">{{ category.title }}</h3>
											</section>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</section>
			{% endif %}

			{% if entry.latitude|length %}
				<div id="map"></div>
				<script>
						var destination = {lat: {{ entry.latitude }}, lng: {{ entry.longitude }}};
						var contentString =
								'<div id="content">' +
								'<h1 id="firstHeading" class="firstHeading">{{ entry.title }}</h1>' +
								'<p>{{ entry.rue }}</p>' +
								'<p>{{ entry.codePostal }}</p>' +
								'</div>';
				</script>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}

